.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255, 0.5);
  padding: 0 2rem;
  overflow: visible;
}

.search-header {
  display: flex;
  margin-left: 2rem;
}

.user-header {
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
}

