.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255, 0.5);
  padding: 0 2rem;
}

.search-header {
  margin-left: 2rem;
}
.user-header {
  margin-right: 2rem;
}

  /*Help*/
  .help-button {
    background: rgb(246, 209, 12) ;
    background: linear-gradient(
      0deg,
      rgba(252, 166, 5, 1) 35%,
      rgba(246, 209, 12, 1) 100%
    );
  }
  
  
  .help-button:hover,
  .help-button:active {
    background:  rgb(156, 240, 62);
    background: linear-gradient(
      0deg,
      rgba(246, 209, 12, 1) 35%,
      rgba(252, 166, 5, 1) 100%
    );
  }