.button {
  font: inherit;
  height: 3rem;
  border-radius: var(--border-radius);
  margin-right: 1.5rem;
  border: var(--border);
  box-shadow: 2px 2px 2px #ccc;
  color: white;
  cursor: pointer;
  
}

.button:focus {
  outline: none;
}

