.button {
  padding: 1rem 1rem;
  font: inherit;
  height: 3rem;
  width: 3rem;
  border-radius: 12px;
  margin-right: 1.5rem;
  border: 2px solid white;
  box-shadow: 2px 2px 2px #ccc;
  color: white;
  cursor: pointer;
  
}

.button:focus {
  outline: none;
}


