/* Help Menu */
.help-menu {
  display: flex;
  position: relative;
}
/*Help Button*/
.help-button {
  display: block;
  width: 3rem;
  background: rgb(246, 209, 12);
  background: linear-gradient(
    0deg,
    rgba(252, 166, 5, 1) 35%,
    rgba(246, 209, 12, 1) 100%
  );
}
.help-button:hover,
.help-button:active {
  background: rgb(156, 240, 62);
  background: linear-gradient(
    0deg,
    rgba(246, 209, 12, 1) 35%,
    rgba(252, 166, 5, 1) 100%
  );
}
/* Slide Menu */
.theme-menu {
  position: absolute;
  top: 4rem;
  right: 6rem;
  display: flex;
  flex-direction: column;
}

.theme-menu li {
  margin-bottom: 1rem;
  list-style: none;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
