/* Help Menu */
.help-menu {
  display: flex;
  position: relative;
}

/*Help Button*/
.help-button {
  display: block;
  width: 3rem;
}

/*Help Button Color*/
.help-button-color{
  background: var(--userheader-color-light);
  background: linear-gradient(
    0deg,
    var(--userHeader-color-dark) 35%,
    var(--userheader-color-light) 100%
  );
}

.help-button-color:hover,
.help-button-color:active {
  background: linear-gradient(
    0deg,
    var(--userheader-color-light) 35%,
    var(--userHeader-color-dark) 100%
  );
}
.colorfulBtn{
  background-image: url('./../../../assets/img/colorful.jpg');
  background-size: 5rem auto;
  background-repeat: repeat;
  border : var(--border-user);
}

.nekoBtn{
    background-image: url('./../../../assets/img/neko.jpg');
    background-size: 5rem auto;
    background-repeat: repeat;
    border : var(--border-user);
}

.lightBtn{
  background-image: url('./../../../assets/img/ranitas.jpg');
  background-size: 5rem auto;
  background-repeat: repeat;
  border : var(--border-user);
}

.darkBtn{
  background-image: url('./../../../assets/img/dark.jpg');
  background-size: 5rem auto;
  background-repeat: repeat;
  border : var(--border-user);
}
/* Slide Menu */
.theme-menu {
  position: absolute;
  top: 4.2rem;
  right: 6rem;
  display: flex;
  flex-direction: column;
}

.theme-menu li {
  margin-bottom: 1rem;
  list-style: none;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
