.card{ 
    width: 40%;
    height: 3.5rem;
    margin:1rem;
    margin-left: 3.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    overflow: hidden;
}
.inner-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin:auto;
    width: 90%;
    height: 100%;
    color: white;
    overflow: hidden;
}
.card-opened{
    height: auto;
}
/*Kpop*/
.isKpop{
    background: var(--kpop-color-dark);
}
.isInnerKpop{
    background: var(--kpop-color-light);
}

/*Jpop*/
.isJpop{
    background: var(--jpop-color-dark);
}
.isInnerJpop{
    background: var(--jpop-color-light);
}
/*Opening*/
.isOpenings{
    background: var(--opening-color-dark);
}
.isInnerOpenings{
    background: var(--opening-color-light);
}

/*Videogames*/
.isVideogames{
    background: var(--videogames-color-dark);
}
.isInnerVideogames{
    background: var(--videogames-color-light);
}