@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lemonada', cursive;
}

body {
  margin: 0;
}

:root{
  --border: 2px solid white;
  --border-radius: 12px;
  --background-image:url('./assets/img/colorful.jpg');
  --kpop-color-light:rgba(50, 200, 214, 1);
  --kpop-color-dark:rgba(0, 140, 153, 1);
  --opening-color-light:rgba(248, 101, 157, 1);
  --opening-color-dark:rgba(242, 5, 96, 1);
  --jpop-color-dark:rgba(141, 70, 227, 1);
  --jpop-color-light:rgba(188, 147, 228, 1);
  --videogames-color-light:rgba(145, 233, 48, 1);
  --videogames-color-dark: rgba(119, 185, 45, 1);
}

