
/*Opening*/
.opening-button {
  width: 3rem;

    background: rgb(248, 101, 157);
    background: linear-gradient(
      0deg,
      rgba(242, 5, 96, 1) 35%,
      rgba(248, 101, 157, 1) 100%
    );
  }
  
  .opening-button:hover,
  .opening-button:active {
    background: rgb(248, 101, 157);
    background: linear-gradient(
      0deg,
      rgba(248, 101, 157, 1) 35%,
      rgba(242, 5, 96, 1) 100%
    );
  }
  
  .grow-button {
    padding:0;
    align-items: center;
    width: 12rem;
  }
  