/*Jpop*/

.jpop-button {
    width: 3rem;
    background: var(--jpop-color-light);
    background: linear-gradient(
      0deg,
      var(--jpop-color-dark) 35%,
      var(--jpop-color-light) 100%
    );
  }
  
  .jpop-button:hover,
  .jpop-button:active {
    background: var(--jpop-color-light);
    background: linear-gradient(
      0deg,
      var(--jpop-color-light) 35%,
      var(--jpop-color-dark) 100%
    );
  }

  /*Kpop*/
.kpop-button {
    width: 3rem;
    background: var(--kpop-color-light);
      background: linear-gradient(
        0deg,
        var(--kpop-color-dark) 35%,
        var(--kpop-color-light) 100%
      );
    }
    
    .kpop-button:hover,
    .kpop-button:active {
      background: linear-gradient(
        0deg,
        var(--kpop-color-light) 35%,
        var(--kpop-color-dark) 100%
      );
    }

/*Opening*/
.opening-button {
    width: 3rem;
    background: var(--opening-color-light);
    background: linear-gradient(
      0deg,
      var(--opening-color-dark) 35%,
      var(--opening-color-light) 100%
    );
  }
    
.opening-button:hover,
.opening-button:active {
  background: linear-gradient(
    0deg,
    var(--opening-color-light) 35%,
    var(--opening-color-dark) 100%
  );
}

/*videogames*/
.videogames-button {
    width: 3rem;
    background: var(--videogames-color-light);
    background: linear-gradient(
      0deg,
      var(--videogames-color-dark) 35%,
      var(--videogames-color-light) 100%
    );
}
    
.videogames-button:hover,
.videogames-button:active {
  background: linear-gradient(
    0deg,
    var(--videogames-color-light) 35%,
    var(--videogames-color-dark) 100%
  );
}
    
.grow-button {
  padding:0;
  align-items: center;
  width: 12rem;
}